<div class="module1">
    <div class="grid1">
        <%= form_tag('/registrations') do %>
            <h3>Subscribe to share your</h3>
                <h3 class ="mb-5">your really fake news</h3>
                    <div class="row">
                        <%= hidden_field_tag 'token'%>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <%= text_field_tag [:name], nil, placeholder: 'Your name', class: 'form-control'%>
                                </div>
                                    <div class="form-group">
                                    <%= email_field_tag [:email], nil, placeholder: 'title', class: 'form-control' %>
                                    </div>
                                    <div class="form-group">
                                    <%= password_field_tag [:password] , nil, placeholder: 'password', class: 'form-control'%>
                                </div>
                            <div class="form-group center">
                        <div><%= submit_tag 'Save' , class: "btn btn-primary mb-5"%>
                    <div>
                </div>
            </div>
        <% end %>
    </div>
</div>